.logocase {
  padding: 10px 20px;
  display: flex;
  position: fixed;
  left: 20px;
  flex-direction: column;
  top: 20px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.logocase.active {
  background-color: rgba(0, 0, 0, 0.9);
  transition: background 0.5s ease;
}
.logocase.active .logoname {
  color: #fff !important;
  transition: color 0.8s ease;
}
.logoname {
  font-size: calc(1rem + 1vw);
}

@media screen and (max-width: 770px) {
  .logoname {
    font-size: calc(1rem + 2vw);
  }
}
